<link href="/css/welcome.css" rel="stylesheet">
<div class="container bg-dark mt-4">
  <div class="container p-1">
    <h1 class="celtic celtic-h1 celtic-color text-center mt-2">About</h1>
  </div>
  <div class="container p-2">
    <div class="row">
      <div class="col-md-8 m-auto">
        <img class="border border-light responsive" src="/images/screenshot-of-chat.png" alt="Screenshot of Chat"> 
      </div>
    </div>
  </div>
  <div class="container p-4">
    <p>The Virtual Gaeltacht is a free online platform for learners of Irish to meet and chat.</p>
    <p>Learners take part in group conversations through animated avatars, controlling gaze, facial expressions and gestures. This combines recent advances in web application technology with the latest research in language learning pedagogy. Emphasis in interactions is placed on three important, social aspects of language acquisition: <i>emotion</i>, <i>expression</i> and <i>engagement</i>.
  </div>
</div>
<div class="container bg-dark mt-4">
  <div class="container p-1 mt-2">
    <h1 class="celtic celtic-h1 celtic-color text-center mt-2">Aims</h1>
  </div>
  <div class="container p-2">
    <div class="row">
      <div class="col-md-8 m-auto">
        <img class="responsive" src="/images/gaeltacht-areas.png" alt="Gaeltacht areas"> 
      </div>
    </div>
  </div>
  <div class="container p-4">
    <p>The primary aim of the Virtual Gaeltacht is to provide Irish learners with easy, remote access to a vibrant community of speakers.</p> 
    <p>A lack of speaking opportunities hinders the progress of many Irish learners. Few have the chance to spend time in the remaining Gaeltacht regions and experience life 'as Gaeilge'. Alternatives have sprung up to fill this gap, including the Pop-up Gaeltacht, Meetups, and exercise classes in Irish. These are fantastic and much-loved initiatives, but learners are missing out on casual encounters unburdened by location or time. The Virtual Gaeltacht aims to be the platform where these informal interactions can occur.</p>
  </div>
</div>

<div class="container bg-dark mt-4 mb-4">
  <div class="container p-1 mt-2">
    <h1 class="celtic celtic-h1 celtic-color text-center mt-2">Background</h1>
  </div>
  <div class="container p-2">
    <p>The Virtual Gaeltacht is a spin off from a PhD research project at University College Dublin, titled 'Emotional Response Language Education'. For enquiries, please email: johnsloan1984@gmail.com</p> 
  </div>
</div>

