<link href="/css/welcome.css" rel="stylesheet">
<div class="container bg-dark mt-4">
  <div class="container p-1">
    <h1 class="celtic celtic-h1 celtic-color text-center mt-2">About</h1>
  </div>
  <div class="container p-2">
    <div class="row">
      <div class="col-md-8 m-auto">
        <img class="border border-light responsive" src="/images/screenshot-of-chat.png" alt="Screenshot of Chat"> 
      </div>
    </div>
  </div>
  <div class="container p-4">
    <p><strong>The Virtual Gaeltacht is a free, online platform for Irish language learners to meet and chat.</strong></p>
    <p>Recent advances in web-application technology are combined with the latest research in second language acquisition to create an immmersive, social learning experience. Group conversations take place through animated avatars, with learners having full, manual control over gaze direction, facial expressions and gestures. This form of interaction emphasises three important, but often overlooked, social aspects of language acquisition: <i style="color: yellow;">emotion</i>, <i style="color: yellow;">expression</i> and <i style="color: yellow;">engagement</i>.
    </p>
  </div>
</div>
<div class="container bg-dark mt-4">
  <div class="container p-1 mt-2">
    <h1 class="celtic celtic-h1 celtic-color text-center mt-2">Aims</h1>
  </div>
  <div class="container p-2">
    <div class="row">
      <div class="col-md-8 m-auto">
        <img class="responsive" src="/images/gaeltacht-areas.png" alt="Gaeltacht areas"> 
      </div>
    </div>
  </div>
  <div class="container p-4">
    <p><strong>The primary aim of the Virtual Gaeltacht is to provide adult Irish learners with easy access to conversations <i>as Gaeilge</i>, which serve to raise ability and confidence in the language.</strong></p>
    <p>It is a lack of speaking opportunities which hinders the progress of many a learner. Very few have the chance to spend sufficient time in Gaeltacht regions to experience the benefits of full immersion. Alternatives, such as Pop-up Gaeltachts and exercise classes through Irish are fantastic initiatives, but learners still lack the important casual encounters, unburdened by set times and pre-determined physical locations. The Virtual Gaeltacht aims to be the platform where these informal interactions can occur.</p>
    </p>
  </div>
</div>

<div class="container bg-dark mt-4 mb-4">
  <div class="container p-1 mt-2">
    <h1 class="celtic celtic-h1 celtic-color text-center mt-2">Development Schedule</h1>
  </div>
  <div class="container p-4">
    <p><strong>There are two planned phases of development for the Virtual Gaeltacht - Group Chat and Metaverse.</strong></p>
    <p>Group Chat focusses on individual conversations, where up to 10 learners can meet and chat. The Metaverse phase sees the creation of a larger virtual environment, where learners can move between multiple ongoing conversations.</p>
    <p>Phase 1 Development:</p>
    <ul>
      <li>Setup Group Chat environment</li>
      <li>Connect avatars (<a href="https://readyplayer.me/">readyplayerme</a>)</li>
      <li>Use WebGL to create gaze &amp; expression animations</li>
      <li>Link animations to user events</li>
      <li>Transfer and store events over Websockets</li>
      <li>Incorporate WebRTC for P2P audio</li>
      <li>Push live</li>
      <li>User Testing <strong style="color: yellow;">&lt;--- Now</strong></li>
      <li>Pilot Study</li>
    </ul>
    <p>Phase 2 Development will follow the results of the pilot study.</li>
  </div>
</div>

<div class="container bg-dark mt-4 mb-4">
  <div class="container p-1 mt-2">
    <h1 class="celtic celtic-h1 celtic-color text-center mt-2">Background</h1>
  </div>
  <div class="container p-4">
    <p><strong>The Virtual Gaeltacht is a spin off from 'Emotional Response Language Education' - a PhD research project by John Sloan from the school of Computer Science at University College Dublin.</strong></p> 
    <p>For further information, please email: john.sloan.1@ucdconnect.ie</p> 
  </div>
</div>

