<link href="/css/welcome.css" rel="stylesheet">
<div class="container bg-dark mt-4">
  <div class="row mt-2">
    <div class="col-md-6 m-auto">
      <h1 class="celtic celtic-h1 celtic-color text-center">About</h1>
      <p>The Virtual Gaeltacht is a free online platform for learners of Irish to meet and chat with others.</p>
      <p>The conversations place focus on three overlooked aspects of language acquisition: The Three Es</p>
      <ul>
        <li>Emotion</li>
        <li>Empathy</li>
        <li>Engagement</li>
      </ul>
      <p>Emotion is at the core of every story we tell, even the simplest, beginner-level ones about waking up and leaving the house. We express these stories, and empathise with others, through both verbal and non-verbal gestures. With our eyes, we engage and demonstrate the focus of our attention.</p>
      <p>
      <p>The Virtual Gaeltacht combines The Three Es with the latest web application technologies to create an environment where Irish conversations thrive.</p>
      <p>Learners control their own avatar in a group chat where they have full control over gaze, facial expressions and gestures.</p>
      <p>Feel free to give it a try.</p>
    </div>
  </div>
</div>
<div class="container bg-dark mt-4">
  <div class="row mt-2">
    <div class="col-md-4 m-auto">
    </div>
    <div class="col-md-8 m-auto">
      <h1 class="celtic celtic-h3 celtic-color text-center">Creator</h1>
      <p>John Sloan followed up seven years teaching English abroad with a Masters in Linguistics and a PhD in Computer Science from University College Dublin. Inspired by the effectiveness of expressions and gaze as a means through which to provide corrective feedback to learners in the classroom, he investigated their potential for use in a more widely accessible, virtual setting. This research, titled, 'Emotional Response Language Education', demonstrated that the facial expressions of avatars can be used as effective means to provide an error signal. English learners who engaged with the avatar reduced their frequency of errors and enjoyed the interactions.</p>
      <p>The return home to Ireland a redirecting of a passion for languages toward Irish</p> 
      <p>Recent advances in web technologies for animation and communication mean it is now possible to do so much more on the internet than ever before.</p>
      <p>Virtual Gaeltacht is a continuation of this research, with a focus on Irish</p>
      <p>As a minority language, learners of Irish are hindered in their progress by a lack of speaking opportunities</p>
      
    </div>
  </div>
</div>

