<%- include('./partials/overlays') %>
<link href="/css/chat.css" rel="stylesheet">
<div id="threeCanvas" style="position:absolute; height: 100%; width: 100%; z-index: -1; left: 0; top: 0;"></div>
<div id="blackOverlay" style="position:absolute; height: 100%; width: 100%; z-index: 101; left: 0; top: 0; background-color: black; display: none"></div>
<div id="loadOverlay" class="bg-secondary" style="position:absolute; height: 100%; width: 100%; z-index: 103; left: 0; top: 0;">
	<div class="d-flex align-items-center justify-content-center" style="position:absolute; height: 100%; width: 100%; left: 0; top: 0;">
		<h3 id="loadingText">Initialising...</h3>
	</div>	
</div>
<div id="choosePositionOverlay" class="bg-secondary" style="position:absolute; height: 100%; width: 100%; z-index: 105; left: 0; top: 0; display: none">
	<div class="d-flex align-items-center justify-content-center" style="position:absolute; height: 10%; width: 100%; z-index: 103; left: 0; top: 5%;">
		<h2 id="choosePositionText">Click a circle where you wish to stand</h2>
	</div>
	<div id="choosePositionContainer" class="d-flex align-items-center justify-content-center" style="position:absolute; height: 100%; width: 100%; z-index: 103; left: 0; top: 0;">
		<div id="choosePositionCircle"></div>
	</div>	
</div>
<div id="otherEnteringOverlay" class="bg-secondary" style="position:absolute; height: 100%; width: 100%; z-index: 106; left: 0; top: 0; display: none">
	<div class="d-flex align-items-center justify-content-center" style="position:absolute; height: 100%; width: 100%; left: 0; top: 0;">
		<h3 id="otherEnteringText">Please wait</h3>
	</div>	
</div>
<div id="leaveButtonContainer" style="position: absolute; top: 5px; right: 5px;">
	<a href="#" data-toggle="modal" data-target="#leaveChatModal" style="width: 100px; display: none;" class="btn btn-sm btn-danger btn-block" id="leaveModalButton">Leave</a>
	<p id="someoneEntering" style="display: none; position absolute">someone is entering...</p>
</div>
<div id="allowEntry" style="position:absolute; z-index: 104; top: 50px; display: none;">
	<div class="card text-white bg-secondary mb-2" style="max-width: 20rem;">
  <div class="card-header">Waiting Room</div>
  <div class="card-body">
		<h4 class="card-title d-flex justify-content-center" id="whoIsWaiting"></h4>
		<div class="container">
			<div class="row">
				<div class="col-sm d-flex justify-content-center">
					<a href="#" class="btn btn-lg btn-success btn-block admit-refuse" id="admit">Admit</a>
				</div>
				<div class="col-sm d-flex justify-content-center">
					<a href="#" class="btn btn-lg btn-danger btn-block admit-refuse" id="refuse">Refuse</a>
				</div>
			</div>
		</div>

  </div>
</div>
</div>
<div id="controlPanelOverlay" style="position:absolute; height: 0%; width: 100%; z-index: 100; left: 0; bottom: 0; display: none;">
	<div class="frame frameSide bg-dark" id="frameLeftSkew"></div>
	<div class="frame frameSide bg-dark" id="frameLeft"></div>
	<div class="frame frameSide bg-dark" id="frameRightSkew"></div>
	<div class="frame frameSide bg-dark" id="frameRight"></div>
	<div class="frame bg-dark" id="frameTop"></div>
	<div class="mx-auto" id="controlPanel" style="position:absolute; width: 100%; bottom: 0;">
		<div class="row p-0 mx-auto">
			<div class="col-sm-1 emotion-gesture-button emotion-button p-1 bg-dark">
			</div>
			<div class="col-sm-1 emotion-gesture-button emotion-button emotion-button-live p-1 bg-dark">
				<img src="/images/astonished-face_1f632.png" class="mx-auto d-block emotion-image"  id="surprise"/>
			</div>
			<div class="col-sm-1 emotion-gesture-button emotion-button emotion-button-live p-1 bg-dark">
				<img src="/images/slightly-frowning-face_1f641.png" class="mx-auto d-block emotion-image" id="sad" />
			</div>	
			<div class="col-sm-1 emotion-gesture-button emotion-button emotion-button-live p-1 bg-dark">
				<img src="/images/grinning-face-with-big-eyes_1f603.png" class="mx-auto d-block emotion-image" id="bigSmile"/>
			</div>
			<div class="col-sm-1 emotion-gesture-button emotion-button emotion-button-live p-1 bg-dark">
				<img src="/images/slightly-smiling-face_1f642.png" class="mx-auto d-block emotion-image" id="smile" />
			</div>
			<div class="col-sm-1 emotion-gesture-button nod-shake-button p-1 bg-dark">
				<img src="/images/arrowUpDown.png" class="mx-auto d-block emotion-image" id="nod_head" />
			</div>
			<div class="col-sm-1 emotion-gesture-button nod-shake-button p-1 bg-dark">
				<img src="/images/arrowLeftRight.png" class="mx-auto d-block emotion-image" id="shake_head" />
			</div>
			<div class="col-sm-1 emotion-gesture-button gesture-button gesture-button-live p-1 bg-dark">
				<img src="/images/person-raising-hand_1f64b.png" class="mx-auto d-block emotion-image" id="right_hand_up_pose" />
			</div>
			<div class="col-sm-1 emotion-gesture-button gesture-button gesture-button-live p-1 bg-dark">
				<img src="/images/man-gesturing-no_1f645-200d-2642-fe0f.png" class="mx-auto d-block emotion-image" id="x_pose" />
			</div>
			<div class="col-sm-1 emotion-gesture-button gesture-button gesture-button-live p-1 bg-dark">
				<img src="/images/person-shrugging_1f937.png" class="mx-auto d-block emotion-image" id="dunno_pose" />
			</div>
			<div class="col-sm-1 emotion-gesture-button gesture-button gesture-button-live p-1 bg-dark">
				<img src="/images/woman-facepalming_1f926-200d-2640-fe0f.png" class="mx-auto d-block emotion-image" id="face_palm_pose" />
			</div>	
			<div class="col-sm-1 emotion-gesture-button gesture-button p-1 bg-dark">
			</div>
		</div>
	</div>
</div>
<script src="/socket.io/socket.io.js" defer></script>
<script src="/javascript/setup/chat/init.js" type="module" defer></script>
<script>
	var username = "<%- name %>"
	document.getElementById('navbar').style.visibility = 'hidden'
</script>

