<link href="/css/chat.css" rel="stylesheet">
<div id="threeCanvas" style="position:absolute; height: 100%; width: 100%; z-index: -1; left: 0; top: 0;"></div>
<div id="blackOverlay" style="position:absolute; height: 100%; width: 100%; z-index: 101; left: 0; top: 0; background-color: black; display: none"></div>
<div id="controlPanel" style="position:absolute; width: 100%; z-index: 102; left: 0; bottom: 0;">
	<div class="row p-0 mx-auto">
		<div class="col-sm-4 emotion-button-container bg-light">
			<div class="row">
				<div class="col-sm-2 emotion-button">
				</div>
				<div class="col-sm-2 emotion-button">
				</div>
				<div class="col-sm-2 emotion-button">
				</div>
				<div class="col-sm-2 emotion-button">
				</div>
				<div class="col-sm-2 emotion-button p-1">
					<img src="/images/grinning-face-with-big-eyes_1f603.png" class="mx-auto d-block emotion-image" id="bigSmile"/>
				</div>
				<div class="col-sm-2 emotion-button p-1">
					<img src="/images/slightly-smiling-face_1f642.png" class="mx-auto d-block emotion-image" id="smile" />
				</div>
			</div>
			<div class="row">
				<div class="col-sm-2 emotion-button">
				</div>
				<div class="col-sm-2 emotion-button">
				</div>
				<div class="col-sm-2 emotion-button">
				</div>
				<div class="col-sm-2 emotion-button">
				</div>
				<div class="col-sm-2 emotion-button p-1">
					<img src="/images/astonished-face_1f632.png" class="mx-auto d-block emotion-image"  id="surprise"/>
				</div>
				<div class="col-sm-2 emotion-button p-1">
					<img src="/images/slightly-frowning-face_1f641.png" class="mx-auto d-block emotion-image" id="sad" />
				</div>	
			</div>
		</div>
		<div class="col-sm-4">
		</div>
		<div class="col-sm-4 emotion-button-container bg-light">
			<div class="row">
				<div class="col-sm-2 emotion-button p-1">
					<img src="/images/person-raising-hand_1f64b.png" class="mx-auto d-block emotion-image" id="right_hand_up_pose" />
				</div>
				<div class="col-sm-2 emotion-button p-1">
					<img src="/images/thinking-face_1f914.png" class="mx-auto d-block emotion-image" id="thinking_pose" />
				</div>
				<div class="col-sm-2 emotion-button">
				</div>
				<div class="col-sm-2 emotion-button">
				</div>
				<div class="col-sm-2 emotion-button">
				</div>
				<div class="col-sm-2 emotion-button">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-2 emotion-button p-1">
					<img src="/images/person-shrugging_1f937.png" class="mx-auto d-block emotion-image" id="dunno_pose" />
				</div>
				<div class="col-sm-2 emotion-button p-1">
					<img src="/images/woman-facepalming_1f926-200d-2640-fe0f.png" class="mx-auto d-block emotion-image" id="face_palm_pose" />
				</div>	
				<div class="col-sm-2 emotion-button">
				</div>
				<div class="col-sm-2 emotion-button">
				</div>
				<div class="col-sm-2 emotion-button">
				</div>
				<div class="col-sm-2 emotion-button">
				</div>
			</div>
		</div>
	</div>
</div>
<script src="/javascripts/three-js-files/chat/main.js" type="module"></script>
<script>
	var participantNames = "<%= participantNames %>"
	var username = "<%- name %>"
</script>

