<div id="gaeltachtCanvas" style="position:absolute; height: 100%; width: 100%; z-index: -1; left: 0; top: 0;"></div>
<script src="/javascript/three-js/gaeltacht/init.js" type="module"></script>
<script>
	var username = "<%- name %>"
	document.getElementById('navbar').style.visibility = 'hidden'
</script>
