<link href="/css/welcome.css" rel="stylesheet">
<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3 celtic celtic-h1">Login</h1>
      <%- include('./partials/messages') %>
      <form action="/users/login" method="POST">
        <div class="form-group">
          <label for="email" class="celtic celtic-small-p">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="Enter Email"
            required
          />
        </div>
        <div class="form-group">
          <label for="password" class="celtic celtic-small-p">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Enter Password"
            required
          />
        </div>
        <button type="submit" class="btn btn-success btn-block celtic celtic-small-p"><strong>Login</strong></button>
      </form>
    </div>
  </div>
</div>
