<div id="mapCanvas" style="position:absolute; height: 100%; width: 100%; z-index: -1; left: 0; top: 0; background-color: #4e5d6c;"></div>
<script src="/javascript/three-js/welcome/main.js" type="module"></script>
