<link href="/css/welcome.css" rel="stylesheet">
<div id="mapCanvas" style="position:absolute; height: 100%; width: 100%; z-index: -1; left: 0; top: 0;"></div>
<div class="row">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center" style="border: none;">
      <h1 class="celtic celtic-h1 celtic-color">The Virtual Gaeltacht</h1>
      <h1 class="celtic celtic-small-p">Failte chuig an metaverse as Gaeilge</h1>
      <div class="row mt-2">
        <div class="col-sm-6 m-auto">
          <a href="/users/register" class="btn btn-info btn-block">Register</a>
        </div>
        <div class="col-sm-6 m-auto">
          <a href="/users/login" class="btn btn-success btn-block">Login</a>
        </div>
      </div>
      <a href="/about" class="basic-link mt-2" style="left: 0;">About</a>
    </div>
  </div>
</div>
<script src="/javascript/three-js/welcome/main.js" type="module"></script>
<script>
	document.getElementById('navbar').style.visibility = 'hidden'
</script>
