.emotion-image {
	max-width: 100%;
	height: auto;
}
.emotion-image:hover {
	cursor: pointer;
}

#nod_head {
	margin-left: 2px solid yellow;
}

.frame {
	position: absolute;
}

.frameSide {
	width: 1%;
}

#frameLeftSkew {
	transform: skew(-2.5deg);
}

#frameRightSkew {
	transform: skew(2.5deg);
}

/*CHOOSE POSITION*/
#choosePositionCircle {
  background-color: rgba(0,0,0,0);
  border-radius: 50%;
  display: inline-block;
}

.choose-participant-location-circle {
  height: 50px;
  width: 50px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
}

.choose-participant-location-circle:hover {
  cursor: pointer;
  background-color: #ff0;
}

/*ALLOW ENTRY*/
.allow-entry-left {
  left: 2px
}

.allow-entry-right {
  right: 2px
}

#muteButton {
  text-align: center;
  width: 100%;
  margin-top: 7.5%;
}

#muteButton:hover {
  cursor: pointer;
}

.fa-microphone-slash {
  color: red;
}
