@font-face {
  font-family: celticFont;
  src: url(celtic.ttf);
}

.basic-link {
  color: deepskyblue;
  text-decoration: underline;
}

.celtic {
  font-family: celticFont;
}

.celtic-h1 {
  font-size: 2.2em;
}

.celtic-h3 {
  font-size: 1.8em;
}

.celtic-color {
  color: #4fb862;
}

.celtic-p {
  font-size: 1.6em;
}

.celtic-small-p {
  font-size: 1.4em;
}

.responsive {
  width: 100%;
  height: auto;
}
